@page "/Project/Add"



<EditForm Model="Model" OnValidSubmit="SubmitProject">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="NameAr">@AppResources.NameArabic</label>

            <InputText @bind-Value="Model.NameAr" id="NameAr" class="form-control"></InputText>

        </div>
        <div class="form-group col-md-6">
            <label for="NameEn">@AppResources.NameEnglish</label>

            <InputText @bind-Value="Model.NameEn" id="NameEn" class="form-control"></InputText>

        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Number">@AppResources.Number</label>

            <InputText @bind-Value="Model.Number" id="Number" class="form-control"></InputText>

        </div>

        <div class="form-group col-md-6">
            <label for="ContractorName">@AppResources.ContractorName</label>

            <InputText @bind-Value="Model.ContractorName" id="ContractorName" class="form-control"></InputText>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ConsultingOfficeName">@AppResources.ConsultingOfficeName</label>

            <InputText @bind-Value="Model.ConsultingOfficeName" id="ConsultingOfficeName" class="form-control"></InputText>

        </div>

        <div class="form-group col-md-6">
            <label for="CityName">@AppResources.CityName</label>

            <InputText @bind-Value="Model.CityName" id="CityName" class="form-control"></InputText>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="QuarterName">Quarter Name</label>

            <InputText @bind-Value="Model.QuarterName" id="QuarterName" class="form-control"></InputText>

        </div>

        <div class="form-group col-md-6">
            <label for="PropertyFullAddress">Property Full Address</label>

            <InputText @bind-Value="Model.PropertyFullAddress" id="PropertyFullAddress" class="form-control"></InputText>

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="PropertyNumber">Property Number</label>

            <InputText @bind-Value="Model.PropertyNumber" id="PropertyNumber" class="form-control"></InputText>

        </div>

        <div class="form-group col-md-6">
            <label for="PropertyLatitude">Property Latitude</label>

            <InputText @bind-Value="Model.PropertyLatitude" id="PropertyLatitude" class="form-control"></InputText>

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="PropertyLongitude">Property Longitude</label>

            <InputText @bind-Value="Model.PropertyLongitude" id="PropertyLongitude" class="form-control"></InputText>

        </div>

        <div class="form-group col-md-6">
            <label for="SerialNumber">Serial Number</label>

            <InputText @bind-Value="Model.SerialNumber" id="SerialNumber" class="form-control"></InputText>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="itemTypetimate">Project Type</label>

            <InputSelect @bind-Value="Model.ProjectTypeId" id="ProjectTypeId" class="form-control">

                @if (ProjectTypeList != null)
                {
                    foreach (var item in ProjectTypeList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }


            </InputSelect>

        </div>

        <div class="form-group col-md-6">
            <label for="TotalArea">Total Area</label>

            <InputNumber @bind-Value="Model.TotalArea" id="TotalArea" class="form-control"></InputNumber>

        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="InstrumentNumber">Instrument Number</label>

            <InputNumber @bind-Value="Model.InstrumentNumber" id="InstrumentNumber" class="form-control"></InputNumber>

        </div>

        <div class="form-group col-md-6">
            <label for="BuildingLicenseNumber">BuildingLicense Number</label>

            <InputNumber @bind-Value="Model.BuildingLicenseNumber" id="BuildingLicenseNumber" class="form-control"></InputNumber>

        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="BuildingTechnique">Building Technique</label>

            <InputText @bind-Value="Model.BuildingTechnique" id="BuildingTechnique" class="form-control"></InputText>

        </div>

        <div class="form-group col-md-6">
            <label for="EstimatedCost">Estimated Cost</label>

            <InputNumber @bind-Value="Model.EstimatedCost" id="EstimatedCost" class="form-control"></InputNumber>

        </div>

        <div class="form-group col-md-6">
            <label for="BuildingLicenseNumber">Building License Number</label>

            <InputNumber @bind-Value="Model.BuildingLicenseNumber" id="BuildingLicenseNumber" class="form-control"></InputNumber>

        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <NavLink href="Backlog">Back to List</NavLink>
</EditForm>



@code {
    
}


