@page "/Project/Add"
@inherits PageBase
<h3>New Project</h3>
<EditForm Model="Model" Context="formContext" OnValidSubmit="@(SubmitProjectAsync)">
    <FluentValidationValidator  DisableAssemblyScanning="@true" />

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="NameAr">@AppResources.NameArabic</label>
            <InputText @bind-Value="Model.NameAr" id="NameAr" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.NameAr)" />
        </div>
        <div class="form-group col-md-6">
            <label for="NameEn">@AppResources.NameEnglish</label>
            <InputText @bind-Value="Model.NameEn" id="NameEn" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.NameEn)" />
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ContractorName">@AppResources.ContractorName</label>
            <InputText @bind-Value="Model.ContractorName" id="ContractorName" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.ContractorName)" />
        </div>

        <div class="form-group col-md-6">
            <label for="ConsultingOfficeName">@AppResources.ConsultingOfficeName</label>
            <InputText @bind-Value="Model.ConsultingOfficeName" id="ConsultingOfficeName" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.ConsultingOfficeName)" />
        </div>
    </div>
    <div class="form-row">


        <div class="form-group col-md-6">
            <label for="CityName">@AppResources.CityName</label>

            <InputText @bind-Value="Model.CityName" id="CityName" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.CityName)" />
        </div>
        <div class="form-group col-md-6">
            <label for="QuarterName">@AppResources.QuarterName</label>

            <InputText @bind-Value="Model.QuarterName" id="QuarterName" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.QuarterName)" />
        </div>

    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="PropertyFullAddress">@AppResources.PropertyFullAddress</label>

            <InputText @bind-Value="Model.PropertyFullAddress" id="PropertyFullAddress" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.PropertyFullAddress)" />
        </div>
        <div class="form-group col-md-6">
            <label for="PropertyNumber">@AppResources.PropertyNumber</label>

            <InputText @bind-Value="Model.PropertyNumber" id="PropertyNumber" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.PropertyNumber)" />
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="PropertyLatitude">@AppResources.PropertyLatitude</label>

            <InputText @bind-Value="Model.PropertyLatitude" id="PropertyLatitude" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.PropertyLatitude)" />
        </div>
        <div class="form-group col-md-6">
            <label for="PropertyLongitude">@AppResources.PropertyLongitude</label>

            <InputText @bind-Value="Model.PropertyLongitude" id="PropertyLongitude" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.PropertyLongitude)" />
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="SerialNumber">@AppResources.SerialNumber</label>

            <InputText @bind-Value="Model.SerialNumber" id="SerialNumber" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.SerialNumber)" />
        </div>
        <div class="form-group col-md-6">
            <label for="itemTypetimate">@AppResources.ProjectTypeId</label>

            <InputSelect @bind-Value="Model.ProjectTypeId" id="ProjectTypeId" class="form-control">
                <ValidationMessage For="@(() => Model.ProjectTypeId)" />
                <option selected>Select...</option>
                @if (ProjectTypeList != null)
                {
                    foreach (var item in ProjectTypeList)
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }


            </InputSelect>

        </div>
    </div>
    <div class="form-row">


        <div class="form-group col-md-6">
            <label for="TotalArea">@AppResources.TotalArea</label>

            <InputNumber @bind-Value="Model.TotalArea" id="TotalArea" class="form-control"></InputNumber>
            <ValidationMessage For="@(() => Model.TotalArea)" />
        </div>
        <div class="form-group col-md-6">
            <label for="InstrumentNumber">@AppResources.InstrumentNumber</label>

            <InputNumber @bind-Value="Model.InstrumentNumber" id="InstrumentNumber" class="form-control"></InputNumber>
            <ValidationMessage For="@(() => Model.InstrumentNumber)" />
        </div>
    </div>

    <div class="form-row">


        <div class="form-group col-md-6">
            <label for="BuildingLicenseNumber">@AppResources.BuildingLicenseNumber</label>

            <InputNumber @bind-Value="Model.BuildingLicenseNumber" id="BuildingLicenseNumber" class="form-control"></InputNumber>
            <ValidationMessage For="@(() => Model.BuildingLicenseNumber)" />
        </div>
        <div class="form-group col-md-6">
            <label for="BuildingTechnique">@AppResources.BuildingTechnique</label>

            <InputText @bind-Value="Model.BuildingTechnique" id="BuildingTechnique" class="form-control"></InputText>
            <ValidationMessage For="@(() => Model.BuildingTechnique)" />
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="BuildingLicenseNumber">@AppResources.FloorsNumber</label>

            <InputNumber @bind-Value="Model.FloorsNumber" id="FloorsNumber" class="form-control"></InputNumber>
            <ValidationMessage For="@(() => Model.FloorsNumber)" />
        </div>
        <div class="form-group col-md-6">
            <label for="EstimatedCost">@AppResources.EstimatedCost</label>

            <InputNumber @bind-Value="Model.EstimatedCost" id="EstimatedCost" class="form-control"></InputNumber>
            <ValidationMessage For="@(() => Model.EstimatedCost)" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="custom-control custom-switch">
                <input type="checkbox" @bind="Model.IsActive" class="custom-control-input" id="IsActive">
                <label class="custom-control-label" for="IsActive">@AppResources.Active</label>
                <ValidationMessage For="@(() => Model.IsActive)" />
            </div>
        </div>

        <div class="form-group col-md-6">
            <label for="image">Select File: </label>
            <InputFile OnChange="@(e=>OnInputFileChange(e,AttachmentTypesEnum.GeneralFileAttachment))" />
            <ValidationMessage For="@(() => Model.AttachemntId)" />
        </div>
    </div>


    <NavLink class="anchor-link link-button mt-3" href="/Project/index">Back</NavLink>
    <button @onclick="@(async e => await ValidateForm(formContext))" type="submit" class="submit-button mt-3">Submit</button>

</EditForm>

<MessageAlert MessageText="@Message" StatusClass="@StatusClass"></MessageAlert>
