@page "/Details/{Id:guid}"
<h3>@AppResources.ProjectDetails</h3>

@if (project == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="NameAr">@AppResources.NameArabic</label>
            <label type="text" readonly id="NameAr" class="form-control">@project.NameAr</label>
        </div>
        <div class="form-group col-md-6">
            <label for="NameEn">@AppResources.NameEnglish</label>
            <label type="text" readonly id="NameEn" class="form-control">@project.NameEn</label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ContractorName ">@AppResources.ContractorName </label>
            <label type="text" readonly id="ContractorName " class="form-control">@project.ContractorName </label>
        </div>
        <div class="form-group col-md-6">
            <label for="ConsultingOfficeName ">@AppResources.ConsultingOfficeName </label>
            <label type="text" readonly id="ConsultingOfficeName " class="form-control">@project.ConsultingOfficeName </label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="CityName">@AppResources.CityName</label>
            <label type="text" readonly id="CityName" class="form-control">@project.CityName</label>
        </div>
        <div class="form-group col-md-6">
            <label for="QuarterName ">@AppResources.QuarterName </label>
            <label type="text" readonly id="QuarterName " class="form-control">@project.QuarterName </label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="PropertyFullAddress">@AppResources.PropertyFullAddress</label>
            <label type="text" readonly id="PropertyFullAddress" class="form-control">@project.PropertyFullAddress</label>
        </div>
        <div class="form-group col-md-6">
            <label for="PropertyNumber">@AppResources.PropertyNumber </label>
            <label type="text" readonly id="PropertyNumber " class="form-control">@project.PropertyNumber</label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="PropertyLatitude ">@AppResources.PropertyLatitude</label>
            <label type="text" readonly id="PropertyLatitude" class="form-control">@project.PropertyLatitude</label>
        </div>
        <div class="form-group col-md-6">
            <label for="PropertyLongitude">@AppResources.PropertyLongitude</label>
            <label type="text" readonly id="PropertyLongitude" class="form-control">@project.PropertyLongitude</label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="SerialNumber">@AppResources.SerialNumber</label>
            <label type="text" readonly id="SerialNumber" class="form-control">@project.SerialNumber</label>
        </div>
        <div class="form-group col-md-6">
            <label for="ProjectType">@AppResources.ProjectTypeId</label>
            <label type="text" readonly id="ProjectType" class="form-control">@project.ProjectType</label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="TotalArea">@AppResources.TotalArea</label>
            <label type="text" readonly id="TotalArea" class="form-control">@project.TotalArea</label>
        </div>
        <div class="form-group col-md-6">
            <label for="InstrumentNumber">@AppResources.InstrumentNumber</label>
            <label type="text" readonly id="InstrumentNumber" class="form-control">@project.InstrumentNumber</label>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="BuildingLicenseNumber">@AppResources.BuildingLicenseNumber</label>
            <label type="text" readonly id="BuildingLicenseNumber" class="form-control">@project.BuildingLicenseNumber</label>
        </div>
        <div class="form-group col-md-6">
            <label for="FloorsNumber">@AppResources.FloorsNumber</label>
            <label type="text" readonly id="FloorsNumber" class="form-control">@project.FloorsNumber</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="BuildingTechnique">@AppResources.BuildingTechnique</label>
            <label type="text" readonly id="BuildingTechnique" class="form-control">@project.BuildingTechnique</label>
        </div>
        <div class="form-group col-md-6">
            <label for="EstimatedCost">@AppResources.EstimatedCost</label>
            <label type="text" readonly id="EstimatedCost" class="form-control">@project.EstimatedCost</label>
        </div>
    </div>

    <div class="form-row form-group">
        <div class="custom-control custom-switch">
            @if (project.IsActive == true)
            {
                <input type="checkbox" class="custom-control-input" id="IsActive" checked disabled />
            }
            else
            {
                <input type="checkbox" class="custom-control-input" id="IsActive" disabled />
            }
            <label class="custom-control-label" for="customCheck1">@AppResources.Active</label>
        </div>
    </div>
    <div class="form-row form-group">
        <NavLink href="/Project/index" class="btn btn-primary">Back</NavLink>
    </div>
}

