@page "/Project/index"


<h3 class="mt-5">@AppResources.ProjectsManagment</h3>

@if (projectList == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="row my-5 ">
        <div class="col-4">
            <NavLink href="/Project/Add" class="btn btn-info btn-block">@AppResources.AddNewProject     <i class="fa fa-plus-circle" aria-hidden="true"></i> </NavLink>
</div>

        <div class="input-group col">
            <input type="text" class="form-control" placeholder="@AppResources.Search" @bind-value="@searchTerm">
            <div>
                <button class="btn btn-info rounded-0" type="button" value="Search" @onclick="@SearchProjects">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>


    </div>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>@AppResources.NameArabic</th>
                <th>@AppResources.NameEnglish</th>
                <th>@AppResources.CityName</th>
                <th>@AppResources.ContractorName</th>
                <th>@AppResources.ConsultingOfficeName</th>
                <th>@AppResources.Active</th>
                <th>@AppResources.Options</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var project in projectList)
            {
                <tr>
                    <td>
                        <NavLink href="@($"details/{project.Id}")" class="nav-link">
                            @project.NameAr
                        </NavLink>
                    </td>
                    <td>@project.NameEn</td>
                    <td>@project.CityName</td>
                    <td>@project.ContractorName</td>
                    <td>@project.ConsultingOfficeName</td>
                    <td>
                        @if (project.IsActive == true)
                        {<span class="fa fa-check-square-o"></span>}
                        else
                        {<span class="fa fa-minus-square-o"></span>}
                    </td>
                    <td>
                        <button type="button" href="@($"edit/{project.Id}")" class="btn btn-info" title="@AppResources.EditProject">
                            <i class="fa fa-edit"></i>
                        </button>

                        <button type="button" title="@AppResources.DeleteProject" class="btn btn-danger" @onclick="@(async()=>await DeleteProject(project.Id))">
                            <i class="fa fa-trash"></i>
                        </button>

                    </td>

                </tr>
            }
        </tbody>
    </table>


}

@code {

}