@page "/Project/index"

<h3>Projects Managment</h3>

@if (projectList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>NameAr</th>
                <th>NameEn</th>
                <th>ContractorName</th>
                <th>CityName</th>
                <th>ConsultingOfficeName</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projectList)
            {
                <tr>
                    <td>
                        <NavLink class="nav-link" href="ProjectDetails">
                            @project.NameAr
                        </NavLink>
                    </td>
                    <td>@project.NameEn</td>
                    <td>@project.ContractorName</td>
                    <td>@project.CityName</td>
                    <td>@project.ConsultingOfficeName</td>
                    <td>@project.IsActive</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

}