@page "/Project/index"


<h3>Projects Managment</h3>

@if (projectList == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <table class='table table-striped'>
        <thead>
            <tr>
                <th>Name Arabic</th>
                <th>Name English</th>
                <th>City Name</th>
                <th>Contractor Name</th>
                <th>ConsultingOffice Name</th>
                <th>Active</th>
                <th>Options</th>


            </tr>
        </thead>
        <tbody>
            @foreach (var project in projectList)
            {
                <tr>
                    <td>
                        <NavLink href="@($"details/{project.Id}")" class="nav-link">
                            @project.NameAr
                        </NavLink>
                    </td>
                    <td>@project.NameEn</td>
                    <td>@project.CityName</td>
                    <td>@project.ContractorName</td>
                    <td>@project.ConsultingOfficeName</td>
                    <td>
                        @if (project.IsActive == true)
                        {<span class="fa fa-check-square-o"></span>}
                        else
                        {<span class="fa fa-check-square-o"></span>}
                </td>
                <td>
                    <a href="@($"edit/{project.Id}")" class="fa fa-edit" title="تعديل مشروع">
                        <span class="EditProject"></span>
                    </a>

                    <a href="#" class="	fa fa-refresh" title="تحديث">
                        <span class="Refresh"></span>
                    </a>

                    <a href="@($"Settings/{project.Id}")" class="fa fa-cog" title="إعدادات">

                        <span class="Settings"></span>
                    </a>

                    <a href="#" title="حذف مشروع" class="fa fa-trash" @onclick="@(async()=>await DeleteProject(project.Id))">
                        <span class="DeleteProject"></span>
                    </a>

                </td>

            </tr>
        }
        </tbody>
    </table>


}

@code {

}