@page "/Project/index"
@page "/Project/index/{page}"
@attribute [Authorize]

<h3>@AppResources.ProjectsManagment</h3>

@if (ProjectVM.Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="ProjectVM">
        <div class="form-row">
            <div class="form-group">
                <NavLink href="/Project/Add" class="btn btn-info btn-block">@AppResources.AddProject</NavLink>
            </div>

            <div class="input-group">
                <div class="form-group col-md-6">
                    <label for="NameAr">@AppResources.NameArabic</label>
                    <InputText @bind-Value="ProjectVM.NameAr" id="NameAr" class="form-control"></InputText>
                </div>
                <div class="form-group col-md-6">
                    <label for="NameEn">@AppResources.NameEnglish</label>
                    <InputText @bind-Value="ProjectVM.NameEn" id="NameEn" class="form-control"></InputText>
                </div>

            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="submit-button"  @onclick="@SearchProjects">@AppResources.Search</button>
        </div>
    </EditForm>
    <div class="form-row">
        <table class='table table-striped'>
            <thead>
                <tr align="center">
                    <th>@AppResources.NameArabic</th>
                    <th>@AppResources.NameEnglish</th>
                    <th>@AppResources.CityName</th>
                    <th>@AppResources.ContractorName</th>
                    <th>@AppResources.ConsultingOfficeName</th>
                    <th>@AppResources.Active</th>
                    <th>@AppResources.Options</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var project in ProjectVM.Items)
                {
                    <tr align="center">
                        <td>
                            <NavLink href="@($"details/{project.Id}")" class="nav-link">
                                @project.NameAr
                            </NavLink>
                        </td>
                        <td>@project.NameEn</td>
                        <td>@project.CityName</td>
                        <td>@project.ContractorName</td>
                        <td>@project.ConsultingOfficeName</td>
                        <td>

                            <div class="custom-control custom-switch">
                                @if (project.IsActive.Value)
                                {
                                    <input @bind-value="project.IsActive" type="checkbox" class="custom-control-input" checked>

                                }
                                else
                                {
                                    <input @bind-value="project.IsActive" type="checkbox" class="custom-control-input">

                                }

                                <label class="custom-control-label" for="IsActive"></label>
                            </div>

                        </td>

                        <td>
                            <a class="fa fa-edit fa-lg" title="@AppResources.EditProject" href="@($"edit/{project.Id}")"></a>
                            <a title="@AppResources.DeleteProject" @onclick="@(async()=>await DeleteProject(project.Id))"><i class="fa fa-trash-o fa-lg"></i></a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
        <Pager Result=@ProjectVM.Items PageChanged=@PagerPageChanged />
    </div>
}

@code {

}
