@page "/Building/index"
@page "/Building/index/{page}"
@attribute [Authorize]
@inherits PageBase;

<h3>@AppResources.BuildingsManagment</h3>

@if (BuildingVM.BuildingList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="BuildingVM">
        <div class="form-row">
            <div class="form-group">
                <NavLink href="/Building/Add" class="btn btn-info btn-block">@AppResources.AddBuilding</NavLink>
            </div>

            <div class="input-group">
                <div class="form-group col-md-6">
                    <label for="ProjectId">@AppResources.ProjectId</label>

                    <InputSelect @bind-Value="BuildingVM.ProjectId" id="ProjectTypeId" class="form-control">

                        @if (ProjectList != null)
                            {
                                foreach (var item in ProjectList)
                                {
                                <option value="@item.Value">@item.Text</option>
                                }
                            }


                    </InputSelect>
                </div>
                <div class="form-group col-md-6">
                    <label for="EstimatedCost">@AppResources.EstimatedCost</label>
                    <InputNumber @bind-Value="BuildingVM.EstimatedCost" id="EstimatedCost" class="form-control"></InputNumber>
                </div>
                <div class="form-group col-md-6">
                    <label for="NumberOfFloor">@AppResources.NumberOfFloor</label>
                    <InputNumber @bind-Value="BuildingVM.NumberOfFloor" id="NumberOfFloor" class="form-control"></InputNumber>
                </div>

            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="submit-button" @onclick="@SearchBuildings">@AppResources.Search</button>
        </div>
    </EditForm>
    <div class="form-row">
        <table class='table table-striped'>
            <thead>
                <tr align="center">
                    <th>@AppResources.Number</th>
                    <th>@AppResources.EstimatedCost</th>
                    <th>@AppResources.TotalSurfaceArea</th>
                    <th>@AppResources.NumberOfFloor</th>
                    <th>@AppResources.Options</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var building in BuildingVM.BuildingList)
                {
                    <tr align="center">
                        <td>
                            <NavLink href="@($"/Building/details/{building.Id}")" class="nav-link">
                                @building.Number
                            </NavLink>
                        </td>
                        <td>@building.EstimatedCost</td>
                        <td>@building.TotalSurfaceArea</td>
                        <td>@building.NumberOfFloor</td>
                        <td>
                            <NavLink class="fa fa-edit fa-lg" title="@AppResources.EditBuilding" href="@($"/Building/edit/{building.Id}")"></NavLink>
                            <a class="fa fa-trash-o fa-lg" title="@AppResources.DeleteBuilding" @onclick="()=>DeleteConfirmationBuilding(building.Id)"></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <Pager Result=@BuildingVM.BuildingList PageChanged=@PagerPageChanged />
    </div>
}
<DeleteDialog @ref="DeleteDialog" CloseEventCallback="@DeleteDialog_OnDialogClose"></DeleteDialog>
<MessageAlert MessageText="@Message" StatusClass="@StatusClass"></MessageAlert>

