@page "/Component/details/{Id:guid}"
    <h3>@AppResources.ComponentDetails</h3>

    @if (component == null)
    {
        <p><em>Loading...</em></p>
    }

    else
    {
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="NameAr">@AppResources.NameArabic</label>
                <label type="text" readonly id="NameAr" class="form-control">@component.NameAr</label>
            </div>
            <div class="form-group col-md-6">
                <label for="NameEn">@AppResources.NameEnglish</label>
                <label type="text" readonly id="NameEn" class="form-control">@component.NameEn</label>
            </div>
        </div>

<div class="form-row form-group">
    <NavLink href="/Component/index" class="btn btn-primary">Back</NavLink>
</div>
}

@code {

}
